/* Tag selector to select the 'body' element */
body {
  background-color: #00b3e6; /* Set background to #00b3e6 */
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  width: 700px;               /* Set width to 700px */
  margin: auto;               /* Center the div */
  font-family: 'Helvetica Neue', sans-serif; /* Set font to Helvetica Neue */
  background-color: white;   /* Set background to white */
  padding: 30px;              /* Set padding to 30px */
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  font-size: 22px; /* Set font size to 22px */
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  font-style: italic; /* Set font style to italic */
}
